<nav class="navbar">
    <div class="container">
        <div class="ui-g">
          <div class="ui-g-12">
              <a href="javascript:;" class="navbar-toogle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
          </div>
        </div>
    </div>

    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <li class="navbar-usuario">{{auth.jwtPayload?.nome}}</li>

      <li class="navbar-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_CONSULTAR_PESSOA')">
        <a routerLink="pessoas" (click)="exibindoMenu = !exibindoMenu">Pessoa</a>
      </li>

      <li class="navbar-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_CONSULTAR_MENSALIDADE')">
        <a routerLink="mensalidades" (click)="exibindoMenu = !exibindoMenu">Mensalidades</a>
      </li>

      <li class="navbar-item">
        <a routerLink="javascript:;" (click)="logout()">Logout</a>
      </li>
    </ul>
</nav>
