<div class="container">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Pessoa</label>
        <input type="text" pInputText />
      </div>

      <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar" ></button>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="pessoas" [paginator]="true" [rows]="3" [responsive]="true">
          <p-column field="nome" header="Nome"></p-column>
          <p-column field="cidade" header="Cidade" styleClass="col-data"></p-column>
          <p-column field="estado" header="Estado" styleClass="col-data"></p-column>
          <p-column field="status" header="Status" styleClass="col-valor">
            <ng-template let-lanc="rowData" pTemplate="body">
              <span>{{lanc.status ? 'Ativo' : 'Inativo'}}</span>
            </ng-template>
          </p-column>
          <p-column styleClass="col-acoes">
              <ng-template pTemplate="body">
                <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
                <button pButton icon="fa-trash" pTooltip="Remover" tooltipPosition="top"></button>
              </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>

    <div class="ui-g-12">
        <button pButton type="submit" label="Nova Pessoa" routerLink="/pessoas/novo"></button>
    </div>

  </div>
