<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Cadastro Pessoa</h1>

      <div class="alert alert-danger" *ngIf="usuarioForm.invalid && usuarioForm.touched">
        Preenche todos os campos corretamente
      </div>
    </div>

    <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
      <div class="ui-g-6 ui-fluid form-group">
          <label>Nome</label>
          <input class="form-control" [class.is-invalid]="(nome.hasError('required') || nome.hasError('minlength')) && nome.touched" type="text" pInputText ngModel name="nome" [(ngModel)]="pessoa.nome" required minlength="10" #nome="ngModel">
          <div *ngIf="nome.hasError('required') && nome.touched" class="invalid-feedback">Informe um nome</div>
          <div *ngIf="nome.hasError('minlength') && nome.touched" class="invalid-feedback">Informe o nome completo</div>
      </div>
      <div class="ui-g-6 ui-fluid form-group">
          <label>Email</label>
          <input class="form-control" [class.is-invalid]="(email.hasError('required') || email.hasError('email')) && email.touched" type="text" pInputText ngModel name="email" [(ngModel)]="pessoa.email" required email #email="ngModel">
          <div *ngIf="nome.hasError('required') && email.touched" class="invalid-feedback">Informe um email</div>
          <div *ngIf="nome.hasError('email') && email.touched" class="invalid-feedback">Informe um email válido</div>
      </div>
      <div class="ui-g-6 ui-fluid form-group">
          <label>Cpf</label>
          <input class="form-control" [class.is-invalid]="cpf.hasError('required') && cpf.touched" type="text" pInputText ngModel name="cpf" [(ngModel)]="pessoa.cpf" required #cpf="ngModel">
          <div *ngIf="cpf.hasError('required') && cpf.touched" class="invalid-feedback">Informe um cpf</div>
      </div>
      <div class="ui-g-6 ui-fluid form-group">
          <label>Data de Nascimento</label>
          <p-calendar [locale]="br" dateFormat="dd/mm/yy" [class.is-invalid]="nascimento.hasError('required') && nascimento.touched" ngModel name="dataNascimento" [(ngModel)]="pessoa.dataNascimento" required #nascimento="ngModel" [readonlyInput]="true"></p-calendar>
          <div *ngIf="nascimento.hasError('required') && nascimento.touched" class="invalid-feedback">Informe uma data de nascimento</div>
      </div>
      <div class="ui-g-12 ui-fluid form-group">
          <label>Status</label><br>
          <p-inputSwitch onLabel="Ativo" offLabel="Inativo" [(ngModel)]="pessoa.status" name="status" ></p-inputSwitch>
      </div>
      <div class="ui-g-12">
        <button id="salvar" pButton type="submit" label="Salvar" [disabled]="!usuarioForm.valid"></button>
        <button style="margin-left: 10px;" pButton type="submit" label="Voltar pesquisa" routerLink="/pessoas"></button>
      </div>
    </form>
  </div>
</div>
